                                                            * {
                                                                margin: 0px;
                                                                padding: 0px
                                                            }
                                                            
                                                            body {
                                                                background-image: url("../Images/greek-vase.png");
                                                            }
                                                            
                                                            .test {
                                                                border: solid 3px black;
                                                                max-height: 110px;
                                                            }
                                                            
                                                            .test2 {
                                                                border: solid 3px black;
                                                                max-height: 110px;
                                                            }
                                                            
                                                            .header {
                                                                border: solid 3px black;
                                                            }
                                                            
                                                            .brand {
                                                                background-color: #4aaaa5;
                                                                color: #ffffff;
                                                                text-align: center;
                                                                border-bottom: solid 2px lightgrey;
                                                            }
                                                            
                                                            .navbar-nav {
                                                                /* border-bottom: solid 2px grey; */
                                                                width: 100%;
                                                            }
                                                            
                                                            .brand a,
                                                            a:hover {
                                                                color: #ffffff;
                                                                text-decoration: none;
                                                            }
                                                            
                                                            .name-head {
                                                                font-size: 1.5em;
                                                                padding: 20px;
                                                            }
                                                            
                                                            .rowbor {
                                                                background-color: #ffffff;
                                                            }
                                                            
                                                            .mainbox {
                                                                background-color: #ffffff;
                                                            }
                                                            
                                                            @media (max-width: 700px) {
                                                                .navbar-nav {
                                                                    display: inline-block;
                                                                }
                                                                .navbar-nav>li {
                                                                    display: inline-block;
                                                                    padding: 10px;
                                                                    margin-left: 85px;
                                                                }
                                                                .navliv {
                                                                    width: 100%;
                                                                }
                                                                .rowbor {
                                                                    border-bottom: solid 2px lightgrey;
                                                                }
                                                            }