body {
    position: relative;
    background-image: url("../Images/greek-vase.png");
    overflow-y: scroll;
}

.navbar {
    background-color: white;
    padding: 30px;
    margin-bottom: 100px;
    border-bottom: solid 2px gray;
}

.navbar-brand {
    margin-right: 50%;
    padding: 15px;
    background-color: #4aaaa5;
    height: 100%;
    width: 20%;
    /* position: absolute;
    left: 200px; */
}

.navbar-nav {
    /* position: relative; */
    /* left: 860px; */
}

li a,
li a:hover {
    color: grey;
}

.name {
    text-align: center;
    color: #ffffff;
}

.main {
    border: solid 2px grey;
    background-color: #ffffff;
    width: 60%;
    color: grey;
}

.float-left {
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: #666666;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: .7em;
    height: 5%;
}

h1 {
    color: #4aaaa5;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 5em;
    /* margin-bottom: 5em;
    background-color: white;
    border-bottom: solid 2px grey; */
}


/* .navbar-nav li a {
    line-height: 20px;
} */

.label {
    width: 12em;
}


/* @media only screen and (max-width:640px) {
    .main {
        padding-left: -10px;
        padding-right: -10px;
    }
    #avatar {
        width: 300px;
        height: 300px;
        margin-left: 10px;
    }
}

@media (min-width: 992px) {
    .navbar-nav li a {
        float: left;
    }
}

@media (max-width: 991px) {
    .navbar-brand {
        float: none;
    }
} */